*{
    box-sizing: border-box; /*Cambiar modelo de caja*/
}

.flex-container{
    /*
    flex-direction: row;            posiciona todo en fila
    flex-direction: row-reverse;    posiciona todo en fila alrevez
    flex-direction: column;         posiciona todo en columna
    flex-direction: column-reverse; posiciona todo en columna pero alrevez
    flex-wrap: nowrap;              controlar direccion en cual seran apilados
    justify-content: center;        ubicacion del contenido /center/left/right/flex-start/flex-end/space-around
    */
    display: flex; /*Tipos de visualizacion interna y externa*/
    justify-content: center; /*Ubicacion de las cajas*/
    background-color: #008ED0;/*Color UNEAT*/
    padding: 10px; /*Espacio entre el contenido y el borde*/
    border: 2px solid black;
}

.flex-container div{
    background-color: gainsboro; /*Color background*/
    width: 100px; /*Anchura*/
    margin: 10px; /*margen, arriba, abajo, izquierda, derecha*/
    text-align: center; /*Alineacion del texto*/
    line-height: 75px; /*altura de una casilla*/
    font-size: 30px; /*Tamaño letra*/
    border: 2px solid black; /*Tamaño, borde solido, color de borde*/
}